commands:
  0_:
    command: 'if not exist "C:\\inetpub\\AspNetCoreWebApps\\app\\lallu" mkdir C:\\inetpub\\AspNetCoreWebApps\\app\\lallu'
  1_:
    command: 'icacls "C:\\inetpub\\AspNetCoreWebApps\\app\\lallu" /grant "IIS APPPOOL\DefaultAppPool:(OI)(CI)F"'
  2_:
    command: 'icacls "C:\\inetpub\\AspNetCoreWebApps\\app\\lallu"'
