commands:
create_default_website_folder:
command: if not exist "C:\inetpub\AspNetCoreWebApps\app\wwwroot\image" mkdir "C:\inetpub\AspNetCoreWebApps\app\wwwroot\image"
container_commands:
01storage_permissions:
command: 'icacls "C:\\inetpub\\AspNetCoreWebApps\\app\\wwwroot\\image" /grant "IIS APPPOOL\DefaultAppPool:(OI)(CI)F"'